@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --black: #333333;
  --gray: #828282;
  --gray-light: #EDF0F6;
  --violet: #6701BA;
  --violet-dark: #3F0092;
  --blue: #0064C4;
  --blue-light: #97CCFF;
  --blue-extra-light: #EDF4FB;
  --orange: #FFBA52;
  --red: #FF837B;
  --green: #019467;
  --green-dark: #008a61;
  --green-light: #33B343;
  --cheeps-success: #C3FFDD;
  --cheeps-success-disc: #019467;
  --cheeps-warning: #FFE5A2;
  --cheeps-warning-disc: #F2AE00;
  --white: #fff;
  --light: #F9F9F9;
  --body-color: #e5e5e5;
  --error-text: #DA2C2C;
  --error-bg: #FCE6E6;
  --product-color-red: #BA2201;
  --product-color-green: #01BA13;
  --product-color-blue: #0177BA;
  --fs-1: 4.8rem;
  --fs-2: 3.6rem;
  --fs-3: 2.6rem;
  --fs-4: 1.8rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;
  --fw-400: 400;
  --fw-700: 700;
  --section-padding: 35px;
  --shadow-1: 0 8px 16px var(--black_15);
  --shadow-2: 0 4px 10px var(--black_5);
  --radius-1: 10px;
  --radius-6: 6px;
  --radius-8: 8px;
  --transition-0: 0.10s ease;
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:focus-visible {
  outline-offset: 4px;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.container {
  width: 144rem;
  margin: 0 auto;
  padding: 0;
}

// UI KIT STYLES
.btn {
  height: 32px;
  width: auto;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  background: none;
  background: #e6e6e6;
  font-size: 14px;

  &.btn-primary {
    color: #fff;
    background: #019467;

    &:hover {
      background: #00825b;
    }
  }

  &.btn-rounded {
    height: 29px;
    border-radius: 20px;
  }
}

.breadcrumbs {
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__item {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #828282;
  position: relative;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 4rem;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-image: url(../src/assets/images/icons/shevron-right.svg);
  background-repeat: no-repeat;
  width: 0.8rem;
  height: 1.2rem;
  right: -2.5rem;
  top: 0.8rem;
}

// Table
.table {
  width: 100%;
}
.table-header__list, .table-rows__list {
  width: 100%;
  display: flex;
  padding: 1.6rem 2rem;
}
.table-header__list {
  background: var(--blue-extra-light);
}
.table-rows__list {
  border: 1px solid #f6f6f6;
  border-top: 0;
}
.table-rows__list:nth-child(odd) {
  background: #fcfcfc;
}
.table-rows__list:hover {
  background: #f6f6f6;
}
.table__row {
  min-width: 14rem;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.table__row-short {
  min-width: 4rem;
}
.table__row span {
  color: var(--gray);
}
.table__row.table__row-naming {
  min-width: 25rem;
}
.table__row:not(:first-child) {
  margin-left: 3rem;
}
.table__row:first-child {
  min-width: 0;
  width: 2rem;
}
.table__row:last-child {
  margin-left: auto;
  min-width: 4rem;
}
.table__row-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.table__row-title {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.9rem;
  display: flex;
  align-items: center;
}
.table__row-title-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.5rem;
}
.table__row-title-icon:first-child {
  margin-left: 1.2rem;
}
.table__row-subtitle {
  color: #888888;
}
.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}
.table-footer__panel {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.table__row-line {
  width: 12rem;
  height: 0.7rem;
  border-radius: 2rem;
  background: #f6f6f6;
  margin: 0.3rem 0;
  position: relative;
  overflow: hidden;
}

.table__row-line--filled {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 0.7rem;
  border-radius: 2rem;
}
.table__row-line--filled.orange {
  background: var(--orange);
}
.table__row-line--filled.green {
  background: var(--green);
}
.table__row-line--filled.red {
  background: var(--red);
}

.table__row-checkbox {
  display: flex;
  align-items: center;
  width: 5rem;
}

.table__row-actions {
  display: flex;
  align-items: center;
}
.table__row-actions img:not(:first-child) {
  margin-left: 2rem;
}

.section {
  padding: 2rem 0 0;
}

.index-block__list {
  display: flex;
  gap: 2.5rem;
}
.index-block__item {
  position: relative;
  top: 0;
  display: flex;
  background: var(--white);
  max-width: 20rem;
  min-width: 18rem;
  height: 8.7rem;
  padding: 2rem 1.5rem;
  border-radius: var(--radius-1);
  transition: var(--transition-0);
  cursor: pointer;
}
.index-block__item:hover {
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.2);
  top: -0.3rem;
}
.index-block__img {
  background: var(--green);
  border-radius: 50%;
  padding: 0.2rem;
  width: 3.2rem;
  height: 3.2rem;
}
.index-block__content {
  margin-left: 1rem;
}
.index-block__title {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--gray);
}
.index-block__count {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.index-block__count-green {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--green-light);
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  vertical-align: top;
}

.section-content {
  background: var(--white);
  padding: 2.5rem;
  border-radius: var(--radius-1);
  transition: var(--transition-0);
  margin-top: 2rem;
  margin-bottom: 20rem;
}
.section-content:hover {
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.2);
}
.section-content__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.7rem;
}
.section-content__title-nums {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #828282;
  background: #f6f6f6;
  border-radius: 0.5rem;
  margin-left: 1rem;
  padding: 0.5rem;
}
.section-content__subtitle {
  color: var(--orange);
  position: relative;
  padding-left: 2rem;
}
.section-content__subtitle::before {
  position: absolute;
  content: "";
  background-image: url(../src/assets/images/icons/warning-message-icon.svg);
  width: 1.3rem;
  height: 1.3rem;
  left: 0;
  top: 0.5rem;
}
.section-content__table {
  margin-top: 1.8rem;
}
.section-content__selects-list {
  margin-top: 1.6rem;
}
.section-content__sorting-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-content__sorting-list {
  display: flex;
  gap: 2.5rem;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #f6f6f6;
}
.section-content__sorting-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
  transition: var(--transition-1);
  cursor: pointer;
}
.section-content__sorting-item::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background: #333;
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  z-index: 1;
  transition: var(--transition-1);
}
.section-content__sorting-item.is--active {
  font-weight: 700;
}
.section-content__sorting-item.is--active::after {
  width: 100%;
}
.section-content__sorting-item:hover::after {
  width: 100%;
}
.section-content__sorting-number {
  padding: 0.1rem 0.8rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #828282;
  background: #f7f7f7;
  border-radius: 0.5rem;
}

.selects-list {
  display: flex;
  gap: 1rem;
  justify-content: start;
}
.selects-list__cheeps {
  margin-left: 2.5rem;
}

// INPUT
.input {
  padding: 0.5rem 1.5rem;
  gap: 0.8rem;
  width: 14rem;
  height: 3rem;
  background: #F8FAFC;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  transition: var(--transition-1);
}
.input::-moz-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #333;
}
.input::placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #333;
}
.input:is(:hover) {
  box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
}
.input.input-white {
  background: var(--white);
}

// LABEL
.label {
  color: var(--black);
  font-size: 1.4rem;
  display: block;
}
.label--error {
  color: var(--error-text);
}
.label--error .input {
  background-color: var(--error-bg);
}

// SEARCH INPUT
.search-input {
  display: flex;
  align-items: center;
  min-width: 12.5rem;
  height: 3rem;
  padding-left: 1.5rem;
  overflow: hidden;
  border: 1px solid #F6F6F6;
}
.search-input input {
  font-size: 1.3rem;
  line-height: 2rem;
}
.search-input input::-moz-placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #333;
}
.search-input input::placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #333;
}
.search-input__btn {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1rem;
}



textarea.textarea {
  width: 100%;
  min-height: 15rem;
  background: #f9f9f9;
  border-radius: var(--radius-6);
  padding: 1.5rem;
  transition: var(--transition-1);
  border: none;
  outline: none;
  color: var(--gray);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: #ccc;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #ccc;
  border-radius: 0.3rem;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type=checkbox]::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
}

input[type=checkbox]:checked {
  background: var(--green);
  border-color: var(--green);
}

input[type=checkbox]:checked::before {
  background: var(--green);
  background-image: url(../src/assets/images/icons/checkbox.svg);
  background-repeat: no-repeat;
  width: 0.9rem;
  height: 0.9rem;
  top: 0.2rem;
  left: 0.1rem;
}

.select {
  background: var(--gray-light);
  border-radius: var(--radius-6);
  padding: 0.5rem 1.5rem;
  gap: 4px;
  min-width: 14rem;
  height: 3rem;
  background: #F8FAFC;
  border-radius: 0.5rem;
  transition: var(--transition-1);
  position: relative;
}
.select::-moz-placeholder {
  color: var(--gray);
  font-size: 1.5rem;
}
.select::placeholder {
  color: var(--gray);
  font-size: 1.5rem;
}
.select.input-white {
  background: var(--white);
}
.select .select__current {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.select .select__current-text {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-right: 1.5rem;
}
.select .select__current .btn-dropdown__icon {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%) rotate(0deg);
}
.select .select__current .btn-dropdown__icon img {
  width: 14px;
  height: 8px;
  transition: var(--transition-1);
}
.select .select__list {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  z-index: 5;
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  display: none;
  font-size: 1.3rem;
  overflow: hidden;
}
.select .select__list.show {
  display: block;
}
.select .select__item {
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.select .select__item:hover {
  background: var(--light);
}
